body{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
    color: #6c7279; 
}
.cardo{
  font-family: 'Cardo', serif;
  font-size: 25px;
  padding-top: 100px;
  padding-left: 2%;
  padding-right: 0%;
  margin: 0;
}
.color-cita{
  background-color: #53354a;
  color: #fff;
}
.cita{
  font-family: 'Raleway', sans-serif;
  
  color: #fff;
  margin-top: 30px;
}
header{
  width: 100%;
}
.img-width{
  width: 25%;
  height: 256px;
}
.text-0{
  font-size: 0rem;
}
.mt-150{
  margin-top: 150px;
}
.mb-150{
  margin-bottom: 150px;
}
.names{
  font-size: 1.4rem;
  color: #3b3e41;
  font-weight: normal;
}
.name-color{
  color: #e94a4a;
  font-size: .84rem;
  font-weight: normal;
}
.introduction-name{
  font-size: .88rem;
  font-weight: normal;
}
section .download  {
  padding: 60px 0 100px; 
}

header .nav {
  justify-content: flex-end;
  border-bottom: 0px;
  top: 0px;
  padding: 40px 0;
  width: 100%;
}

header .nav-link {
  font-size: 13px;
  color: #fff;
  padding-top: 20px;
}

header .nav-link:hover{
  background: #fff;
  color: #31344e;
}

header .row{
  border-bottom: 1px solid #51546a;
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 0;
  width: 100%;
}

header .col-lg-3{
  border-bottom: 0px;
    padding: 50px 0;
    width: 100%;
}

  .top {
  background: url('../img/Rectangle.png') no-repeat;  
  background-position: center;
  background-size: cover;
  height: 750px;
}

  .top-text {
  padding-top: 120px;
  font-weight: 1000;

}
  .top-text h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 50px; 


}
  .top-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; 
}

  .btn {
   background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
     padding: 15px 40px;
}

  /Features/
  section .features {
      margin-bottom: 50px; 
        }

  h5{
      font-size: 14px;
      color: #2d3033;
      text-transform: uppercase;
      font-weight: 700; 
  }

  p{
    font-size: 14px;
     line-height: 22px;
     color: #6c7279; 
  }

    section .feature{
      padding: 0 15px;
      margin-top: 30px;
      margin-bottom: 30px;
  }
 
  section .row{
    margin-top: 100px;
  }


  /Footer/

footer {
  text-align: center; 
}
  .footer-top {
    background-color: #3a3e64;
    padding-top: 70px; 
}
  .footer-bottom {
    background-color: #313454;
    padding: 20px 0; 
}
  .footer .footer-col {
    margin-bottom: 80px; 
}
  .footer h5 {
    color: #fff; 
    margin-bottom: 20px;
}
  .footer-top p {
    color: #9d9fb2;
}
  .footer-bottom p {
    color: #808080;
}
  .footer a {
    color: #fff; 
}
  .footer .share {
    margin-top: 0; 
    width: 100%;
}
  .footer .share li {
      display: inline-block;
      float: none; 
}
 .download p {
    color: #2d3033;
    font-weight: 600;
    padding-bottom: 20px; 
}
 .footer .heart {
    font-family: Webdings, sans-serif;
    color: #e84545; 
    font-size: 14px;
    margin: 0 2px;
}
